.Home {
    text-align: center;   
  }

 .car-logo {
    height: 40vmin;
    pointer-events: none;
 } 

.LandingPage {
    border: 2px solid black;
    background-color: mediumslateblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;   
}